@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');
/* color palette from <https://github.com/vuejs/theme> */
:root {

  /* 

- Very Dark Blue (Light Mode Text): hsl(200, 15%, 8%)
- Dark Gray (Light Mode Input): hsl(0, 0%, 52%)
 */
--dark-background: hsl(207, 26%, 17%);
--light-background: hsl(0, 0%, 98%);

  --dark-elements: hsl(209, 23%, 22%);

  --light-text:hsl(200, 15%, 8%);
  --light-input:hsl(0, 0%, 52%);

  --white:hsl(0, 0%, 100%);
}

/* semantic color variables for this project */
:root {
  --color-background: var(--light-background);
  --element: var(--white);
  --color-text: var(--light-text);
  --input:var(--light-input);
  --section-gap: 160px;
  --shadow:var(--dark-elements);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--dark-background);
    --color-text: var(--white);
    --element: var(--dark-elements);
    --input:var(--white);
    --shadow:var(--white);
  }
  svg{
    color:var(--color-text);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  max-width: 1440px;
margin: 0 auto;
  padding: 1em;
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@media (min-width:600px){
  body {
    padding: 5em;
  }
}